<!DOCTYPE html>
<html>
  <head>
    <title>Malaria Maps for Guinea</title>
      <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
  </head>
  <body>
    <div>
      <h1>The Guinea Malaria Map Server</h1>
        <p>
            This server provides a district level thematic map plotting one of four indictors as image file in a PNG format. The input file is a pivot table downloaded as a JSON file from the Guinea national HMIS or Système National d'Information Sanitaire. DHIS2 provides this same functionality through <a href="https://docs.dhis2.org/2.34/en/dhis2_developer_manual/web-api.html#viewing-analytical-resource-representations">their web API </a>, however in recent versions of DHIS2 there are some problems with this feature (documented <a href="https://jira.dhis2.org/browse/DHIS2-9561">here</a>). In addition the DHIS2 web api provides no flexibility for customizing the maps appearance. This server seeks to address these challenges.

        </p>

        <p>
            To try this out, use the <a href="https://docs.dhis2.org/2.35/en/developer/html/dhis2_developer_manual_full.html#webapi_analytics_dimensions_and_items">analytics API</a>   the pivot table Data for Bulletin from the Guinea HMIS as JSON for a given month. Here are some examples
        </p>

        <table border="1">
        <tr>
            <th>Map Type</th>
            <th>CuRL command</th>
        </tr>
       <tr>
            <td>Confirmation Rate</td>
            <td>
                curl --request POST -H "Content-Type: application/json" {{request.base_url }}confirmation_rate.png --data @<a href="{{ url_for('static', filename = 'example.json') }}">example.json</a> --output confirmation_rate.png
            </td>
        </tr>
        <tr>
            <td>Positivity Rate</td>
            <td>
                curl --request POST -H "Content-Type: application/json" {{request.base_url }}positivity_rate.png --data @<a href="{{ url_for('static', filename = 'example.json') }}">example.json</a> --output positivity_rate.png
            </td>
        </tr>

        <tr>
            <td>Incidence</td>
            <td>
                curl --request POST -H "Content-Type: application/json" {{request.base_url }}incidence.png --data @<a href="{{ url_for('static', filename = 'example.json') }}">example.json</a> --output incidence.png
            </td>
        </tr>
        <tr>
            <td>Population</td>
            <td>
                curl --request POST -H "Content-Type: application/json" {{request.base_url }}population.png --data @<a href="{{ url_for('static', filename = 'example.json') }}">example.json</a> --output population.png
            </td>
        </tr>


    </table>
            <p>

            </p>

        </p>

        <p>
            <h4>Here is what one of these maps look like </h4>
        </p>
        <img src="{{ url_for('static', filename = 'response.png') }}" />

    </div>
  </body>
</html>
